#Egypt{
    -fx-background-image: url("Egypt2.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);


}

#USA{
    -fx-background-image: url("USA2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);


}
.root{
    -fx-background-image: url("Pay-2.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

}
HBox,VBox{
    -fx-alignment: center ;

}

HBox{
    -fx-spacing: 196px;
}



.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Krungthep";
    -fx-text-fill: #ffdbc5;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.button {
    -fx-text-fill: #ffdbc5;
    -fx-font-size: 20px;
    -fx-font-family: "Krungthep";
    -fx-font-weight: bold;
    -fx-normal-background: linear-gradient(#cf1b1b, #900d0d);
    -fx-background-color: -fx-normal-background;


    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button:hover {
    -fx-hovered-background: linear-gradient(#900d0d, #cf1b1b);
    -fx-background-color: -fx-hovered-background;

}

#RoundButton {

}